{% extends 'base.html.twig' %}

{% block body %}
<main>

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
        {% if headers|length > 1 %}
        {% for key,header in headers %}
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key == 0 %}class="active" aria-current="true"{% endif %} aria-label="{{ header.title }}"></button>
{% endfor %}

        {% endif %}

        </div>
        <div class="carousel-inner">
        {% for key,header in headers %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}">
            <img src="/uploads/{{ header.illustration }}" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>{{ header.title }}</h1>
                        <p class="opacity-75">
                            {{ header.content }}
                        </p>
                    <p><a class="btn btn-lg btn-primary" href="{{ header.buttonLink }}">{{ header.buttonTitle }}</a></p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
            
        </div>
        {% if headers|length > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
        {% for product in productsInHomepage %}
        <div class="col-lg-4">
            <img src="/uploads/{{ product.illustration }}" class="img-fluid">
            <h2 class="fw-normal mt-2">{{ product.name }}</h2>
            <div style="font-size: 14px;">
                {{ product.description|raw }}
            </div>
            <p><a class="btn btn-secondary mt-2" href="{{ path('app_product', { slug : product.slug } ) }}">Découvrir</a></p>
        </div><!-- /.col-lg-4 -->
    {% endfor %}

        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9">
                <h2 class="featurette-heading fw-normal lh-1">À la recherche d'un sac chic et tendance ? </h2>
                <p class="lead">Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator.</p>
            </div>
            <div class="col-md-3">
            <img src="/uploads/sac1.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">A propos </h2>
                <p class="lead">Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/uploads/sac2.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Trouvez votre sac intemporel avec nos larges collections ! </h2>
                <p class="lead">Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum.</p>
            </div>
            <div class="col-md-5">
            <img src="/uploads/sac3.jpg" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}



